

<header class="navbar navbar-fixed-top ">
    <div class="container navbar navbar-expand-sm ue bg-dark mt-3 mb-3">
        <%= link_to "sample app" , root_path ,id: "logo"%>
        <nav >
            <ul class="nav navbar-nav navbar-right ">
                <li class="navbar-brand "><%= link_to "Home", root_path %> </li>
                <li class="navbar-brand "><%= link_to "Help", help_path %> </li>
                
                <% if logged_in? %>
                <li class="navbar-brand "><%= link_to "Users", '#' %> </li>
                  <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle"  type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Account 
                    </button>

                    <div class="dropdown-menu resetcolor" aria-labelledby="dropdownMenuButton">
                       <li class="dropdown-item resetcolor"><%= link_to "Profile", current_user %></li>
                       <li class="dropdown-item resetcolor"><%= link_to "Setting" ,  '#' %></li>
                       <li class="dropdown-item resetcolor">
                         <%= link_to "Log out", logout_path, method: :delete %>
                       </li>

                        
                    </div>
                  </div>
                   
                <%else%>
                   <li class="navbar-brand"><%= link_to "Log in ", login_path %></li>
                <%end%>



            </ul>
            

        </nav>
    </div>
</header>